<!DOCTYPE html>
<html lang="en" ng-app="interface">
<head>
    <meta charset="utf-8">
    <title><%= appTitle %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">-->
</head>
<body data-development-grid="show">

<div class="container">
    <h1><%= appTitle %></h1>
    <nav>
        <ul>
            <li><a href="/login">Log out</a></li>
        </ul>
    </nav>

    <%- body %>
</div>

<script src="/js/vendor/grid.js"></script>

<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap.js"></script>
<% if(devMode) {%>
<script src="/interface/js/app.js"></script>
<script src="/interface/js/services.js"></script>
<script src="/interface/js/controllers.js"></script>
<script src="/interface/js/filters.js"></script>
<script src="/interface/js/directives.js"></script>
<% } else { %>
<script src="/js/retro2d.min.js"></script>
<% } %>
</body>
</html>

