<!DOCTYPE html>
<html lang="en" data-ng-app="editor">
<head>
    <meta charset="utf-8">
    <title><%= appTitle %></title>
    <link rel="stylesheet" type="text/css" href="/css/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/components/kendo-ui/styles/kendo.common.min.css">
    <link rel="stylesheet" type="text/css" href="/components/kendo-ui/styles/kendo.default.min.css">
</head>
<body data-development-grid="show">

<header>
    <h1><%= appTitle %></h1>
</header>
<nav>
    <ul>
        <li><a href="/login">Log out</a></li>
    </ul>
</nav>

<%- body %>

<script src="/js/vendor/grid.js"></script>

<script src="/components/jquery/jquery.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/kendo-ui/js/kendo.web.min.js"></script>
<script src="/components/angular-kendo-ui/build/angular-kendo.js"></script>
<% if(devMode) {%>
<script src="/asset-processor/tile-converter.js"></script>
<script src="/editor/js/app.js"></script>
<script src="/editor/js/services.js"></script>
<script src="/editor/js/controllers.js"></script>
<script src="/editor/js/filters.js"></script>
<script src="/editor/js/directives.js"></script>
<script src="//alcibi:35729/livereload.js"></script>
<% } else { %>
<script src="/js/retro2d.min.js"></script>
<% } %>
</body>
</html>

