<div class="page">
    <h2>HOME</h2>
    <div class="options">
        <ul>
            <li>Current Level:
                <form>
                    <select id="levelSelect">
                        <option>Level 1</option>
                        <option>Add New Level</option>
                    </select>
                </form>
            </li>
            <li><a href="#">Delete this level</a></li>
            <li><a href="#">Rename this level</a></li>
        </ul>
    </div>
    <div class="tiles">
        <form>
            <label for="tileSetSelect">Tile Set</label>
            <select id="tileSetSelect">
                <option>New Tile Set</option>
                <option>Set 1</option>
                <option>Set 2</option>
            </select>
            <button class="k-button" ng-click="sourcesWindow.open()">Add source</button>
            <a href="#">Delete current tile set</a>
        </form>
        <div kendo-window="modal" k-title="'Tile Sources'" k-visible="false" k-modal="true" k-min-width="200" k-min-height="200" k-width="600" k-height="400">
            <r2d-sourcesselector sources="sources"></r2d-sourcesselector>
            <!--<div kendo-list-view k-data-source="sources" k-template="'<div>#=filename#</div>'"></div>-->
        </div>
        <div>
            <r2d-tileselector class="tileSelector"></r2d-tileselector>
        </div>
    </div>

    <div class="level">
        <form>
            <label for="backgroundColor">Background Color</label>
            <input id="backgroundColor" type="text">
        </form>
        <r2d-leveleditor class="levelEditor" enabled="editorEnabled"></r2d-leveleditor>
    </div>
</div>