$black: black;
$white: white;
$light-grey: #eeeeee;
$dark-grey: #999999;

$primary-color: $black;
$primary-background-color: $white;
$secondary-background-color: $light-grey;
$empty-background-color: $dark-grey;
