$black: black;
$white: white;
$light-grey: #eeeeee;
$dark-grey: #999999;
$green: green;

$primary-color: $black;

// Backgrounds
$primary-background-color: $white;
$secondary-background-color: $light-grey;
$empty-background-color: $dark-grey;
$tile-background-color: $dark-grey;

// Borders
$normal-border-color: $black;
$hover-border-color: $green;

